.exportBilling {
    flex: 4;
}

.detailContainer {
    width: 720px;
    /* margin: 10px auto; */
    border: 1px rgb(228, 228, 228) solid;
    padding: 10px;
    /* width: 95%; */
}
.title {
    display: flex;
    height: 60px;

    /* width: 500px; */
}
.left {
    flex-grow: 1;
}
.center {
    flex-grow: 1;
}

.right {
    flex-grow: 1;
}

.details {
    border: 1px black solid;
    text-align: center;

    height: 100%;
    margin: 10px 0;
}
table {
    margin: 0 auto;
}
.date {
    margin-top: 12px;
}

.textNoMargin {
    margin: 0;
}
